{% extends "skeleton.html" %}
{% block content %}
<div class="container-fluid bg-gradient-primary">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden shadow-lg my-5" style="border-width:1px;border-style:solid;border-color:black;">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                  <p class="mb-4">We get it, stuff happends. Just enter your e-mail address below and we'll send you a link to reset your password!</p>
                </div>
                <form class="user" method="POST">
                  <div class="form-group">
                    {{form.email(placeholder="Enter E-Mail Address...",class="form-control form-control-user")}}

                  </div>
                    {{form.submit(class="btn btn-success btn-user btn-block", style="border-width:1px;border-style:solid;border-color:#4c4c59;")}}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
