{% extends "skeleton.html" %}
{% block content %}
<div class="container-fluid bg-gradient-primary">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden shadow-lg my-5" style="border-width:1px;border-style:solid;border-color:black;">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>

                <form method="post">
                  {{ form.hidden_tag() }}
                  <div class="form-group">

                        {{form.username(placeholder="Please Create a User ID",class="form-control form-control-user")}}
                        {% for error in form.username.errors %}
                          <div class="container text-center" style="margin-top: 10px;">{{ error }}</div>
                        {% endfor %}
                  </div>
                  <div class="form-group">
                      {{form.email(placeholder="E-Mail Address",class="form-control form-control-user")}}
                          {% for error in form.email.errors %}
                          <div class="container text-center" style="margin-top: 10px;">{{ error }}</div>
                          {% endfor %}
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      {{form.password(placeholder="Password",class="form-control form-control-user")}}

                    </div>
                    <div class="col-sm-6">
                      {{form.confirm_password(placeholder="Confirm Password",class="form-control form-control-user")}}

                    </div>
                    {% for error in form.confirm_password.errors %}
                    <div class="container text-center" style="margin-top: 10px;">{{ error }}</div>
                    {% endfor %}
                  </div>
                      {{form.submit(class="btn btn-success btn-block",style="border-width:1px;border-style:solid;border-color:#4c4c59;")}}

                </form>
                <hr>
                <div class="text-center">
                    <a class="" href="{{ url_for('login') }}">Already Have an Account? Login!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('forgot') }}">Forgot Password?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
